/* Reset de estilos básicos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #222; /* Background mais escuro */
    font-family: Arial, sans-serif; /* Fonte padrão */
    color: #fff; /* Cor do texto */
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo do cabeçalho */
  }
  
  nav ul {
    list-style: none;
    text-align: center; /* Centraliza os itens do menu */
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo principal */
  }
  